.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.filterable-products-table {
  padding: 11px;;
  background-color: #d1d2d3;
  
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 0.8vmin);
  color: rgb(82, 73, 73);
}

.search-bar {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.search-bar * {
  margin: 3px;
}

.category-data {
  font-weight: bold;
}

.item {
  text-align: left;
}

.item-not-stocked {
	color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
