#root {
  width: 90rem;
  margin: 0 auto;
}

nav {
  padding: 20px;
  display: flex;
  direction: row;
  align-items: center;
  justify-items: flex-start;
  gap: 11px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: rgb(220, 220, 220);
  border-radius: 30px;
}

.nav-link-active {
  color: #F15B2A
}