.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article {
  max-width: 55vw;
  margin-bottom: 11px;
}

.article-light {
  background-color: darkgray;
  color: #282c34;
}

.article-dark {
  background-color: #282c34;
  color: antiquewhite;
}

.heading-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 20vw;
  min-width: 10vw;
}

.article-content {
  text-align: justify;
}